# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# virtual env
.venv/
venv/
ENV/

# env parameter
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# log
*.log

# unit test
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# pyright
.pyright/ 