# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# 虚拟环境
.venv/
venv/
ENV/

# 环境变量
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# 日志
*.log

# 单元测试
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# pyright
.pyright/ 